@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CaarInsurance</h1>
    <h3 class="display-7">Your one-stop shop insurance partners</h3>
    <p>Learn about <a href="https://youtu.be/WaXyCIHVtXg?si=qootTPPUNfmvSP7C">Car Insurance Explained</a>.</p>
</div>
