@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    
    Make the privacy choices that are right for you. Learn how to manage and control your privacy on Facebook, Instagram, Messenger and other CaarInsurance media Products.
    We're getting ready to expand our AI experiences. To do this, we want you to know that we'll use public information  such as public posts and comments from accounts of people aged 18 or older on the basis of legitimate interests. We'll do this to develop and improve generative driving models for our AI at CaarInsurance features and experiences.
</p>
<p>
    You have the right to object to the use of your information for these purposes. If your objection is honoured, we won't use your public information from Facebook and Instagram for future development and improvement of generative AI models for our AI at CaarInsurance features and experiences.  If you've already objected, you don't need to submit another request..
</p>
